<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.application.sniffer">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Devices"
            android:label="@string/title_activity_devices"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.application.sniffer.MainActivity" />
        </activity>
        <!-- <activity android:name=".cap.Bt.Main2Activity"></activity> -->
        <activity
            android:name=".PeteLogView"
            android:label="@string/title_activity_pete_log_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.application.sniffer.MainActivity" />
        </activity>
        <activity android:name=".cap.PacketItem" />
        <activity android:name=".cap.TrafficActivity" />
        <activity
            android:name=".Report"
            android:label="@string/title_activity_report"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.application.sniffer.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PeteLog" />
        <activity android:name=".BlueTooth" />

        <service android:name=".cap.PacketCaptureService2" />
        <service android:name=".cap.PacketCaptureService" />
        <receiver android:name=".MainActivity">
            <intent-filter>
                <action android:name="BluetoothDevice.ACTION_FOUND">
                </action></intent-filter>
        </receiver>
    </application>

</manifest>